@mixin hover-standard-common{
  transition: opacity 0.4s, text-shadow 0.2s;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  // text-decoration: underline;
  cursor: pointer;
}


@mixin hover-standard-style1{
  @include hover-standard-common;
  opacity: 70%;
}

//******************************************************************************

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #1E2D3B;
    min-height: 100vh;
}

.container {
    width: 1070px;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 70px;
    background: rgb(46, 58, 70);

    img {
        height: 50px;
        margin-top: 10px;
    }

}

.cds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.cd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 20px;
    min-height: 360px;
    background: rgb(46, 58, 70);
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);

    img {
        max-width: 100%;
    }

    h3 {
        margin: 20px 0;
        color: white;
        font-size: 22px;
        text-transform: uppercase;
    }

    span.author {
        color: grey;
        font-size: 20px;
    }

    span.year {
        color: grey;
    }
}

.cd:hover{
    @include hover-standard-style1;
}




.genere{
  text-align: center;
  color: white;
  font-size: 21px;

  h2{
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.selezione-genere{
  color: black;
  font-size: 21px;
  min-width: 100px;
  text-align: center;
}
